@use "globals" as *; //(espone direttamente le variabili senza bisogno di un namespace)
@use "buttons.scss" as btn;
@use "typography.scss" as typo;
@use "breakpoints.scss" as bp;
@use "animations.scss" as anim;

// @use "main_2.scss" as *;

///*SECTION - background gradients + animation
#bbg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-size: 180% 180%;
  @include bp.for-desktop-small{
    animation: rotateBackground 70s linear infinite;
    @include anim.rotateBG;
  }
  @include bp.for-desktop-big-up{
    animation: rotateBackground 70s linear infinite;
    @include anim.rotateBG;
  }

  @include grad-var-phone(50%, 10%, 80%, 80%, 20%, 70%, 0.25%, 50%);
  @include grad-var-tablet(50%, 10%, 80%, 80%, 20%, 70%, 0.25%, 50%);
  @include grad-var-desktop(50%, 10%, 80%, 80%, 20%, 70%, 0.25%, 50%);
  //@include grad-var-desktop(50%,10%,80%,80%,20%,70%,25%,5%);
}

///*!SECTION
///*SECTION - Ghirlande
//*ANCHOR -  Ghirlanda up dx
.ghirlanda-updx {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: luminosity;
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: 0;
  @include bp.for-phone {
    width: 490px;
    opacity: 0.4;
  }

  img {
    max-width: 550px;
    position: absolute;
    top: 0px;
    right: -50px;
    @include bp.for-tablet-portrait {
      top: -50px;
      right: -120px;
    }
    @include bp.for-phone {
      top: -90px;
      right: -160px;
      transform: rotate(-10deg);
    }
  }
}

///*ANCHOR -  ghirlanda down sx
.ghirlanda-dwsx {
  overflow: hidden;
  width: 100vw;
  height: 100%;
  mix-blend-mode: luminosity;
  opacity: 0.6;
  position: absolute;
  left: 0px;
  bottom: -160px;
  @include bp.for-phone {
    max-width: 490px;
  }

  img {
    max-width: 550px;
    position: absolute;
    bottom: 120px;
    left: -70px;
    @include bp.for-tablet-portrait {
      bottom: 50px;
      left: -120px;
    }
    @include bp.for-phone {
      bottom: 25px;
      left: -70px;
      transform: rotate(-45deg) !important;
    }
  }
}

///*ANCHOR - test ghirlande
///

#ghirlandaContainert {
  display: flex;
  align-items: center;
  justify-content: center;
  //position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  //overflow-y: visible;
}
#ghirlanda-full {
  mix-blend-mode: luminosity;
  opacity: 0.6;
  img {
    width: 1000px;
  }
}

///*!SECTION

///*ANCHOR -  Hero section

#heroSection {
  position: relative;
  top: -50px;
  @include bp.for-phone {
    position: relative;
    top: -50px;
  }
}

#heroTitle {
  @include bp.for-tablet-portrait {
    flex-direction: column;
    gap: 0;
    h1 {
      padding: 0;
    }
  }
  @include bp.for-phone {
    flex-direction: column;
    gap: 0;
    margin-bottom: 1.5rem;
    h1 {
      padding: 0;
      font-size: 2rem;
      //margin-bottom: 0.5rem;
      //font-weight: 500;
    }
  }
}
// #logo_mne {
//   @include bp.for-phone {
//     max-width: 80vw;
//   }
// }

///*ANCHOR - Modules

#modulesSection {
  position:relative;
  overflow-y: visible;
  overflow-x: hidden;
  //background: linear-gradient(0deg, $gradient_4 55%, transparent 100%);
  //padding-top: 10em;
  padding-bottom: 200px;
  @include bp.for-phone {
    p {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
#rooms{
  position: relative;
}
#rooms--circleBG{
  z-index: -1;
  opacity: 0.5;
  width: 400px;
  height:400px;
  background-color: $gradient_4;
  position: absolute;
  top:-50%;
  left:-30%;
  //top:-2%;
  border-radius: 50%;
}
#boxes--circleBG{
  z-index: -1;
  opacity: 0.5;
  width: 450px;
  height:450px;
  background-color: $gradient_3;
  position: absolute;
  top:-30%;
  left:-5%;
  //top:-2%;
  border-radius: 50%;
}
#masters--circleBG{
  z-index: -1;
  opacity: 0.5;
  width: 400px;
  height:400px;
  background-color: $gradient_4;
  position: absolute;
  top:-50%;
  left:-5%;
  //top:-2%;
  border-radius: 50%;
}

#modulesSection_2.modules.test2{
  margin: 50px 0 200px 0;
  // overflow-x: hidden;
  // overflow-y: visible;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 100px 0;
  //background-color:royalblue;
  #titeles2 {
    flex-grow: 1;
    h1{
      margin: 0;
      padding: 0;
      text-align: center;
    }
    #rooms2{
      p{
        //display:none;
        opacity: 0;
        height: 0px;
        text-align: center;
      }
    }
  }
  #bgCircles2{
    position: absolute;
    top: 50%;
    z-index: -1;
    display: flex;
    align-items: center;
    #rooms2--circleBG {
      opacity: 0.8;
      width: 14rem;
      height: 28rem;
      background-color: $gradient_3;
      border-radius: 0rem 14rem 14rem 0;
      position: absolute;
      // top: 50%;
    }
    #boxes2--circleBG {
      opacity: 0.8;
      width: 12rem;
      height: 24rem;
      background-color: $gradient_3;
      border-radius: 0rem 12rem 12rem 0;
      position: absolute;
      // top: 50%;
    }
    #masters2--circleBG {
      opacity: 0.5;
      width: 10rem;
      height: 20rem;
      background-color: $gradient_4;
      border-radius: 0rem 10rem 10rem 0;
      position: absolute;
      // top: 50%;
    }


    // #rooms2--circleBG{
    //   z-index: -1;
    //   opacity: 0.5;
    //   width: 100px;
    //   height:100px;
    //   background-color: $gradient_4;
    //   position: absolute;
    //   border-radius: 50%;
    // }
    // #boxes2--circleBG{
    //   z-index: -1;
    //   opacity: 0.5;
    //   width: 150px;
    //   height:150px;
    //   background-color: $gradient_3;
    //   position: absolute;
    //   border-radius: 50%;
    // }
    // #masters2--circleBG{
    //   z-index: -1;
    //   opacity: 0.5;
    //   width: 200px;
    //   height:200px;
    //   background-color: $gradient_4;
    //   position: absolute;
    //   // top:-50%;
    //   // left:-15%;
    //   //top:-2%;
    //   border-radius: 50%;
    // }
  }
}

///*ANCHOR - Ecosystem

#ecosystemSection {
  background: linear-gradient(0deg, $gradient_4 66%, transparent 100%);
  //padding-top: 20em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  //height: 100vh;
  min-height: 900px;
  @include bp.for-phone{
    min-height: 400px;
  }
  #logoPhase{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 10vw;
    max-width: 122px;
    min-width: 72px;
    opacity: 0.1;
  }
  #Market_svg {
    position: absolute;
    // top: calc(50% + 5rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    // opacity: 0.3;
    width: 41.5vw; /* Dimensione proporzionale alla larghezza della viewport */
    max-width: 500px;
    min-width: 300px;
    #m_100_circle_ecosys_3 {
      opacity: 0.3;
    }

  }
  #Post_svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
   width: 35.3vw;
    max-width: 425.66px;
    min-width: 253px;
    #m_100_circle_ecosys_2 {
      opacity: 0.3;
    }
  }
  #Production_svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 30vw;
    max-width: 362px;
    min-width: 213px;
    #m_100_circle_ecosys_1 {
      opacity: 0.3;
    }
  }
  #Pre_svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centro preciso */
    height: auto;
    width: 25vw;
    max-width: 302px;
    min-width: 175px;
    #m_100_circle_ecosys_0 {
      opacity: 0.3;
    }
  }
}
