@use 'globals' as *;

h1 {
    font-size: 2.5rem;
    color: $mne_lighter;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 20px 0;
    font-optical-sizing: auto;
    .light & {
        color: #151515;
    }
}
h2 {
    font-size: 1.3rem;
    color: $mne_text-on-dark;
    font-weight: 400;
    font-optical-sizing: auto;
}
// h3 {
//     padding: 10px 0;
//     font-size: 18px;
//     color: azure;
//     font-family: "montserrat", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: normal;
// }
p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #dadada;
    margin-bottom: 10px;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}