@use 'globals' as *;

.btnToggle {
    background-color: #002a41;
    padding: 8px 16px;
    border-radius: 5px;
    margin: 5px;
  }
  .btnToggle:hover {
    //background-color: #04364f;
    background-color: $gradient_1;
  }