@use "globals" as *; //(espone direttamente le variabili senza bisogno di un namespace)
@use "buttons.scss" as btn;
@use "typography.scss" as typo;
@use "breakpoints.scss" as bp;
@use "animations.scss" as anim;

//impedisco lo scroll fino alla fine dell'animazione iniziale
body{
    overflow: hidden;
    //da ripristinare su hidden per la produzione
  }

  #mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
    min-height: 100vh;
    width: 100vw;
  }

  #bbg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -20;
    background-size: 180% 180%;
    animation: rotateBackground 50s linear infinite;
    @include anim.rotateBG;
    @include bp.for-desktop-small{
      animation: rotateBackground 70s linear infinite;
      @include anim.rotateBG;
    }
    @include bp.for-desktop-big-up{
      animation: rotateBackground 70s linear infinite;
      @include anim.rotateBG;
    }
  
    @include grad-var-phone(50%, 10%, 80%, 80%, 20%, 70%, 0.25%, 50%);
    @include grad-var-tablet(50%, 10%, 80%, 80%, 20%, 70%, 0.25%, 50%);
    @include grad-var-desktop(50%, 10%, 80%, 80%, 20%, 70%, 0.25%, 50%);
    //@include grad-var-desktop(50%,10%,80%,80%,20%,70%,25%,5%);
  }

  #sectionsWrapper {
    width: 100vw;
    max-width: 1200px;
    height: calc(100vh - 70px);
    //height: var(--total-height);
    position: relative; /* Contenitore relativo per le sezioni sovrapposte */
  }

.section_fixed{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 70px);
  opacity: 0;
  overflow:hidden;
  margin-bottom: 6rem;
  &:not(#hero-section){
    @include bp.for-tablet-up{ // 576px up
      flex-direction: row;
    }
  }
  &.hero{
    justify-content: flex-start;
  }
}

.element{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 50vh;
    @include bp.for-tablet-up{// 576px up
      width:40%;
    }
    @include bp.for-desktop-big-up{ // 1200px up
      width: 30%;
    }
  }
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    @include bp.for-tablet-up{
      width: 60vw
    }
    @include bp.for-desktop-big-up{
      width: 70%;
    }
}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 40vh;
  //background-color: red;
  color:white;
  @include bp.for-tablet-up{
    height: auto;
  }
}

.nofixed_section {
  background: $gradient_4;
  background: linear-gradient(0deg, $gradient_4 80%, $gradient_4_0 100%);
  z-index: 30;
  //padding-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  .preMade {
    width: 100%;
    height: 100px;
  }
}

//*SECTION - Hero

#ghirlanda-element{
    opacity:0.6;
    //max-height: 50vh;
    mix-blend-mode: luminosity;
    @include bp.for-desktop-big-up{
      width: 550px;
    }
}

#ghirlanda_img{
  width: 90%;
}

  #heroTitle {
    flex-direction: column;
      gap: 0;
      margin-bottom: 1.5rem;
      h1 {
        padding: 0;
        font-size: 2rem;
        //margin-bottom: 0.5rem;
        //font-weight: 500;
      }
    @include bp.for-tablet-up {
      flex-direction: row;
      column-gap: 1.5rem;
      h1 {
        padding: 0;
      }
    }
  }
  #hero-content{
    @include bp.for-desktop-big-up-h-reduced{ // W-1200px H-750px up
      //margin-top: -100px;
      margin-bottom: 100px;
    }
  }
//*!SECTION

// SECTION - Phases
#phases-element{
    // width: 100%;
    // min-height: 900px;
    // @include bp.for-phone{
    //   min-height: 400px;
    // }
    #phasesTitle{
      text-align: center;
    }
    #logoPhase{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: auto;
      width: 10%;
      max-width: 122px;
      min-width: 72px;
      opacity: 0.1;
    }
    #Market_svg {
      position: absolute;
      // top: calc(50% + 5rem);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: auto;
      // opacity: 0.3;
      width: 41.5%; /* Dimensione proporzionale alla larghezza della viewport */
      max-width: 500px;
      min-width: 300px;
      #m_100_circle_ecosys_3 {
        opacity: 0.3;
      }
  
    }
    #Post_svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: auto;
     width: 35.3%;
      max-width: 425.66px;
      min-width: 253px;
      #m_100_circle_ecosys_2 {
        opacity: 0.3;
      }
    }
    #Production_svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: auto;
      width: 30%;
      max-width: 362px;
      min-width: 213px;
      #m_100_circle_ecosys_1 {
        opacity: 0.3;
      }
    }
    #Pre_svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); /* Centro preciso */
      height: auto;
      width: 25%;
      max-width: 302px;
      min-width: 175px;
      #m_100_circle_ecosys_0 {
        opacity: 0.3;
      }
    }
  }
  #phases-content{
    width: 95vw; 
  }
  .phaseCircle .innerTxt{
    opacity: 0;
    display: none;
  }
  
//*!SECTION