@use "globals.scss" as *;
dialog {
    background-color: $gradient_4;
    display: flex;
    flex-direction: column;
    z-index: 9999999999;
    opacity: 0;
    max-width: none;
    max-height: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    overflow-y: auto;
  }
  .modal-content {
    height: 100%;
  }

  .modal-inner {
    padding: 0px 3% 20px 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    white-space: normal;
  }
  .modal-inner .modal-block {
    margin-bottom: 4%;
  }
  
  .horizontal .modal-inner {
    flex-direction: row;
    white-space: nowrap;
    overflow-x: clip;
    overflow-y: hidden;
    padding: 0px 2%;
    // height: 100%;
    // padding-left: 60px;
  }
  
  .modal-inner p {
    font-size: 1.5rem;
    line-height: 2rem;
    // color: black;
    color: $mne_text-on-dark;
  }
  .horizontal .modal-inner .modal-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 20px;
    text-wrap: wrap;
    min-width: 400px;
    height: 100%;
  }